@model IEnumerable<Book>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Total number of books are : @Model.Count()</p>

<p>Use this area to provide additional information.</p>
